name: Ejercicio 5 - Sin Cache

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install
        working-directory: ejercicio5

      - name: Run tests
        run: npm test
        working-directory: ejercicio5